In [1]:
from ptrail.core.Datasets import Datasets
import pandas as pd

In [5]:
data = pd.read_csv('./data/compression_data.csv')
data = data.set_index('mmsi')
data

,trajectory,time,lat,lon,sog,cog,vessel_type,flag
mmsi,,,,,,,,
316002721,0,2020-04-06 05:42:48,37.6018,-122.6299,9.2,316.2,30,Canada
316002721,0,2020-04-06 05:45:48,37.6074,-122.6357,8.8,323.8,30,Canada
316002721,0,2020-04-06 05:47:17,37.6102,-122.6386,8.4,319.3,30,Canada
316002721,0,2020-04-06 05:50:18,37.6159,-122.6445,8.7,317.9,30,Canada
316002721,0,2020-04-06 05:51:19,37.6178,-122.6464,8.2,321.1,30,Canada
...,...,...,...,...,...,...,...,...
368141480,54,2020-05-31 00:38:22,37.7700,-122.8892,10.1,333.4,30,United States of America
368141480,54,2020-05-31 00:39:31,37.7728,-122.8913,10.6,323.7,30,United States of America
368141480,54,2020-05-31 00:40:41,37.7755,-122.8939,10.3,323.2,30,United States of America
368141480,54,2020-05-31 00:41:51,37.7785,-122.8960,10.3,331.5,30,United States of America
368141480,54,2020-05-31 00:43:02,37.7813,-122.8983,10.4,324.3,30,United States of America

In [8]:
data.loc[[316002721]]

,trajectory,time,lat,lon,sog,cog,vessel_type,flag
mmsi,,,,,,,,
316002721,0,2020-04-06 05:42:48,37.6018,-122.6299,9.2,316.2,30,Canada
316002721,0,2020-04-06 05:45:48,37.6074,-122.6357,8.8,323.8,30,Canada
316002721,0,2020-04-06 05:47:17,37.6102,-122.6386,8.4,319.3,30,Canada
316002721,0,2020-04-06 05:50:18,37.6159,-122.6445,8.7,317.9,30,Canada
316002721,0,2020-04-06 05:51:19,37.6178,-122.6464,8.2,321.1,30,Canada
...,...,...,...,...,...,...,...,...
316002721,0,2020-04-07 21:10:47,37.6125,-122.6912,9.5,159.5,30,Canada
316002721,0,2020-04-07 21:12:17,37.6091,-122.6892,8.6,155.8,30,Canada
316002721,0,2020-04-07 21:13:47,37.6057,-122.6873,8.6,157.7,30,Canada
316002721,0,2020-04-07 21:14:48,37.6034,-122.6860,9.0,156.9,30,Canada
316002721,0,2020-04-07 21:15:50,37.6012,-122.6846,8.8,145.0,30,Canada